* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.containerRight {
    width: 85%;
    margin: 0 15%;
}

.containerLeft {
    width: 85%;
}

.pink {
    color: #f55767;
}

.blue {
    color: #2563ff;
}

.green {
    color: #40975f;
}

p {
    font: 16px/1.63 "Poppins";
    color: #616368;
}

hr.separator {
    width: 90%;
    opacity: 0.44;
    background-color: #e5e6e5;
    margin: auto;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .containerRight {
        width: 90%;
        margin: 0 10%;
    }

    .containerLeft {
        width: 90%;
    }

}

@media screen and (max-width: 1024px) {
    p {
        font-size: 14px;
    }
}